@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme {
  /* Fonts */
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Theme colors */
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-red-light: #cd0029;
  --color-red-medium: #a4112e;
  --color-red: #811339;
  --color-red-dark: #5a142c;

  --color-gold: #f5b26c;
  --color-gold-bright: #ffb100;

  /* Custom */
  --spacing-page: calc(100dvh - var(--spacing) * 6 - 36px);
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-red);
  --tw-prose-headings: var(--color-red-dark);
  --tw-prose-links: var(--color-red-dark);
  --tw-prose-bullets: var(--color-red);

  --tw-prose-invert-body: var(--color-gold);
  --tw-prose-invert-headings: var(--color-gold);
  --tw-prose-invert-links: var(--color-gold);
}

/* shadcn */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
}
